@import url('//api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,300,400&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-satoshi: Satoshi, sans-serif;
}



body {
  background: var(--background);
  color: var(--foreground);
}
